.menu-section {
    z-index: 5;
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100vh;
    background: rgba(36, 36, 36, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(36, 36, 36, 0.3);
    display: flex;
}

.menu-container {
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    background-color: #2C2638;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 42px;
}

.menu-container > div {
    text-align: center;
    margin: auto;
    width: fit-content;
    display: grid;
    grid-template-rows: auto;
    gap: 16px;
}