.menu-start-game-btn {
    padding: 16px;
    width: 100%;
    background-color: #6D54B5;
    border: none;
    border-radius: 8px;
    display: block;
    cursor: pointer;
    transition: all ease 0.2s;
    font-size: 18px;
    color: white;
}

.menu-start-game-btn:hover {
    background-color: #795ecb;
    scale: 1.01;
    transition: all ease 0.2s;
}