
.square {
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.2s;
}

.square:hover {
    scale: 1.02;
    transition: all ease 0.2s;
    opacity: 0.8;
    cursor: pointer;
}

.dark {
    background-color: #C26739;
}

.clear {
    background-color: #F0D6B4;
}