.piece {
    width: 80%;
    height: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.piece:hover {
    scale: 1.02;
    transition: all ease 0.2s;
    opacity: 0.8;
    cursor: pointer;
}